<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div data-role="content">
<div data-role='fieldcontain'>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Full Name" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :phone_number, "Phone Number" %>
      <%= f.phone_field :phone_number %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%#= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      <button name="commit" type="submit">Create my account</button>
    <% end %>
  </div>
</div>
</div>
</div>