<% provide(:title, @user.name) %>
<div data-role='content'>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/follow_stats' %>
    </section>
<div data-role="content">
  	<%= render 'follow_form' if signed_in? %>
    <% if @user.photos.any? %>
      <h3>Photos (<%= @user.photos.count %>)</h3>
      <ol class="microposts" > <!-- NEED TO CHANGE THIS CSS -->
        <%= render @photos %>
      </ol>
      <%= will_paginate @photos %>
     <%else %>
    <br/> 
    <h4> You have not yet uploaded any image. </h4>
   <br/> 
  <div data-role="button"> <%= link_to "Click here to Upload a New Outift","/photos/new"%>    
  </div>
</div>
<%end%>