<% provide(:title, @title) %>
<div data-role='content'>
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <div data-role='button'><span><%= link_to "View my profile", @user %></span></div>
      <span><b>Photos:</b> <%= @user.photos.count %></span>
    </section>
    <section>
      <%= render 'shared/notification_stats' %>
    </section>
  <div data-role="content">
    <h3><%= @title %></h3>
    <% if @notifications.any? %>
      <ul class="users" data-role='listview' data-inset='true'>
        <%= render @notifications %>
      </ul>
    <% else %>
    <br/>
    <br/>
     <h4 style='text-align:center'> You do not have any notifications at this time. </h4> 
     <div data-role="button"> <%= link_to "Click here to Find users to Follow!", "/users" %> </div> 
  <% end%> 
  </div>
</div>