<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.photos.any? %>
      <h3>Photos (<%= @user.photos.count %>)</h3>
      <ol class="microposts"> <!-- NEED TO CHANGE THIS CSS -->
        <%= render @photos %>
      </ol>
      <%= will_paginate @photos %>
    <% end %>
  </div>

</div>