<% provide(:title, @user.name) %>
<div data-role='content'>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/follow_stats' %>
      <% if current_user?(@user) %>
        <div data-role="button"><%= link_to "Update Your Profile", edit_user_path(current_user) %></div>
      <% end %>
    </section>
    <section>
  	  <%= render 'follow_form' if signed_in? %>
      <br/> 
      <% if @user.photos.any? %>
        <h3>Photos (<%= @user.photos.count %>)</h3>
        <ol class="microposts" > <!-- NEED TO CHANGE THIS CSS -->
          <%= render @photos %>
        </ol>
        <%= will_paginate @photos %>
      <%else %>
        <%if current_user?(@user) %>
           <div data-role="button"> <a href="/photos/new" style="color:black"> No photos in your closet yet. Upload an Outift! </a></div>
        <% else %>
           <h4><%=@user.name %> has not yet uploaded any images to their closet. </h4>
        <% end %>
      <% end %>
    </section>
</div>
