<div data-role='content'>
<%= form_for(@photo, :html => {"data-ajax" => "false"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  	<%= f.label "Take a photo of what you're wearing!" %><br />
  	<%= f.file_field :image, onchange: "readURL(this);" %>

    <div id="hiddenPreview">
    <img id="preview" src="#" alt="Preview Image" />
    <%= f.text_field :caption, placeholder: "Write a question about this outfit to ask people" %>
    </div>
  	<%= f.hidden_field :lat %>
  	<%= f.hidden_field :lng %>
  	<%#= f.submit "Upload", class: "btn btn-large btn-primary" %>
    <button name="commit" type="submit">Upload</button>
	<%#= link_to_function "Upload", "document.getElementById('new_photo').submit();", :class => "btn btn-large btn-primary" %>
<% end %>
</div>

<script>

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#preview').attr('src', e.target.result);
      document.getElementById('hiddenPreview').style.display="block";
    }
    reader.readAsDataURL(input.files[0]);
  }
}

$(document).ready(function() {

  function success(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    document.getElementById('photo_lat').value = lat;
    document.getElementById('photo_lng').value = lng;
  }

  function error(msg) {
    var errMsg = typeof msg == 'string' ? msg : "Geolocation failed";
    $('#msg').html(errMsg);
  }

  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, error);
  } else {
      error('Geolocation not supported');
  }

});

</script>
