<%= form_for(@photo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :caption, placeholder: "Compose a caption" %>
  </div>
  <%= f.file_field(:image) %>
  <%= f.submit "Upload", class: "btn btn-large btn-primary" %>
<% end %>