<div data-role='content'>
<%= form_for(@photo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

    	<%= f.text_field :caption, placeholder: "Write a question" %>
  	<%= f.label :image %><br />
  	<%= f.file_field :image %>
  	<%= f.hidden_field :lat %>
  	<%= f.hidden_field :lng %>
  	<%#= f.submit "Upload", class: "btn btn-large btn-primary" %>
	<%= link_to_function "Upload", "document.getElementById('new_photo').submit();", :class => "btn btn-large btn-primary" %>
<% end %>
</div>
<script>


$(document).ready(function() {

  function success(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    document.getElementById('photo_lat').value = lat;
    document.getElementById('photo_lng').value = lng;
  }

  function error(msg) {
    var errMsg = typeof msg == 'string' ? msg : "Geolocation failed";
    $('#msg').html(errMsg);
  }

  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, error);
  } else {
      error('Geolocation not supported');
  }

});

</script>
