  <li>
  <span class="content">
  	<!--image_tag(gravatar_url, alt: user.name, class: "gravatar") -->
  	<%= image_tag photo.image.url(:feed) %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(photo.created_at) %> ago.
  </span>
  <% if current_user?(photo.user) %>
    <%= link_to "delete", photo, method: :delete, data: { confirm: "You sure?" }, title: photo.image.filename %>
  <% else %>
    <% if current_user.voted_on?(photo) %>
      <div class="ui-grid-a">
        <div class="ui-block-a"><button id="yes<%= photo.id %>" type="button" style="<%= (current_user.voted_for?(photo)) ? "background:Blue" : "background:Green"%>">YES : <%= photo.votes_for%> </button></div>
        <div class="ui-block-b"><button id="no<%= photo.id %>" type="button" style="<%= (current_user.voted_against?(photo)) ? "background:Blue" : "background:Red"%>" >NO : <%= photo.votes_against %></button></div>
      </div>
    <% else %>
      <div class="ui-grid-a">
        <div class="ui-block-a"><button id="yes<%= photo.id %>" type="button" style="background:Green">YES</button></div>
        <div class="ui-block-b"><button id="no<%= photo.id %>" type="button" style="background:Red" >NO</button></div>
      </div>
    <% end %>
  <% end %>
</li>

<script type="text/javascript">
  $("button").bind("click", function (event, ui) {
    console.log("button clicked");
    var photoId;
    var voteYes;
    var id = event.srcElement.id;
    var parent = event.parentNode;
    if (id.substring(0, 2) == "no") {
      photoId = id.substring(2);
      voteYes = 0;
    } else {
      photoId = id.substring(3);
      voteYes = 1;
    }
    $.post("<%= url_for(:action => 'vote', :controller => 'users') %>", {"photoId": photoId, "voteYes": voteYes}, function (data) {
      console.log(data);
      $("span > span", $("#yes"+data.photo_id).parent()).html("YES : " + data.yes);
      $("span > span", $("#no"+data.photo_id).parent()).html("NO : " + data.no);
      if(data.voted_for) {
        $("#yes"+data.photo_id).css('background-color', 'Blue');
        $("#no"+data.photo_id).css('background-color', 'Red');
      } else {
        $("#yes"+data.photo_id).css('background-color', 'Green');
        $("#no"+data.photo_id).css('background-color', 'Blue');
      }
    });
  });
</script>
