<% provide(:title, "#{@photo.user.name}/'s Photo") %>
<div data-role='content'>
    <section>
      <h1>
        <%= gravatar_for @photo.user %>
        <%= "#{@photo.user.name}'s Photo" %>
      </h1>
    </section>
    <section>
    	<span class="content">
		  <!--image_tag(gravatar_url, alt: user.name, class: "gravatar") -->
		  <%= image_tag @photo.image.url(:feed) %>
		</span>
		<span>
			Question: <%= @photo.caption %> <br/>
		</span>
		<span class="timestamp">
		  Posted <%= time_ago_in_words(@photo.created_at) %> ago.
		</span>
		<% if current_user?(@photo.user) %>
		  <%= link_to "delete", @photo, method: :delete, data: { confirm: "You sure?" },:html => {"data-ajax" => "false"} title: @photo.image_file_name %>
		<% end %>
		<% if current_user.voted_on?(@photo) or current_user?(@photo.user) %>
		    <div class="ui-grid-a">
		    	<div class="ui-block-a"><button id="yes<%= @photo.id %>" type="button" style="<%= (current_user.voted_for?(@photo)) ? "background:Blue" : "background:Green"%>">YES : <%= @photo.votes_for%> </button></div>
		    	<div class="ui-block-b"><button id="no<%= @photo.id %>" type="button" style="<%= (current_user.voted_against?(@photo)) ? "background:Blue" : "background:Red"%>" >NO : <%= @photo.votes_against %></button></div>
		    </div>
		<% else %>
		    <div class="ui-grid-a">
		        <div class="ui-block-a"><button id="yes<%= @photo.id %>" type="button" style="background:Green">YES</button></div>
		        <div class="ui-block-b"><button id="no<%= @photo.id %>" type="button" style="background:Red" >NO</button></div>
		    </div>
  		<% end %>
    </section>
    <section>
      <div> <input type='text' id="completionMenu" placeholder="Search for people"/> </div>
      <div id='matchingUsers'></div>
      <br>
      <%= form_tag("#", :id => "addcontact", :remote => true, :data => {"ajax" =>"false"}) do %>
        <%= label_tag("To:") %>
        <%= telephone_field(:to, :number, placeholder: "Enter a phone number", name: "number") %>
        <button name="add" type="submit">Add Contact</button>
      <% end %>
    	<%= form_tag(controller: "sms", action: "send_text_message", method: "post") do %>
    		<%= hidden_field_tag(:photo_id, @photo.id) %>
        <p>Sending to:</p>
        <p id="sendingtolist"></p>
        <%= hidden_field_tag(:send_to) %>
    		<button name="commit" type="submit">Send To Contacts</button>
    	<% end %>
   	</section>
</div>

<script type="text/javascript">
  
  function addToSendingToList (newNumber) {
    console.log("number to add to list: " + newNumber);
    var value = document.getElementById("sendingtolist").innerHTML;
    if (value.length > 0) {
      value += ", ";
    }
    value += newNumber;
    document.getElementById("sendingtolist").innerHTML = value;
  }

  function addUserToPhoneList (e) {
    var phone = e.getAttribute("data-phone");
    var name = e.getAttribute("data-name");
    var value = document.getElementById("send_to").value;
    if (value.length > 0) {
      value += ",";
    }
    value += phone;
    document.getElementById("send_to").value = value;
    addToSendingToList(name);
    document.getElementById("completionMenu").value = "";
    document.getElementById("matchingUsers").innerHTML = "";
    console.log(document.getElementById("send_to").value);
  }

  $("#addcontact").submit(function(e){
    e.preventDefault();
    var newValue = document.getElementById("send_to").value;
    if (newValue.length > 0) {
      newValue += ",";
    }
    newValue += e.srcElement.number.value;
    addToSendingToList(e.srcElement.number.value);
    document.getElementById("send_to").value = newValue;
    e.srcElement.number.value = "";
    console.log(document.getElementById("send_to").value);
  });

  //<![CDATA[
  var processResponse= function (responseText,divname) {
    this.elem=document.getElementById(divname);
    this.elem.innerHTML=responseText;
  }

  new filter("completionMenu", "/user/findUsers", "forsms=1&substring", processResponse, "matchingUsers");
  //]]>
</script>

<script type="text/javascript">
  $("button").bind("click", function (event, ui) {
    console.log("button clicked");
    var photoId;
    var voteYes;
    var id = event.srcElement.id;
    var parent = event.parentNode;
    if (id.substring(0, 2) == "no") {
      photoId = id.substring(2);
      voteYes = 0;
    } else {
      photoId = id.substring(3);
      voteYes = 1;
    }
    $.post("<%= url_for(:action => 'vote', :controller => 'users') %>", {"photoId": photoId, "voteYes": voteYes}, function (data) {
      console.log(data);
      $("span > span", $("#yes"+data.photo_id).parent()).html("YES : " + data.yes);
      $("span > span", $("#no"+data.photo_id).parent()).html("NO : " + data.no);
      if(data.voted_for) {
        $("#yes"+data.photo_id).css('background-color', 'Blue');
        $("#no"+data.photo_id).css('background-color', 'Red');
      } else {
        $("#yes"+data.photo_id).css('background-color', 'Green');
        $("#no"+data.photo_id).css('background-color', 'Blue');
      }
    });
  });
</script>
