<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css" /> 
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script> 
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script> 

</head>
				

    <%= stylesheet_link_tag    "application", media: "all" %>

    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tags %>
    <script src="//cdn.optimizely.com/js/141411332.js"></script>
    <%= render 'layouts/shim' %>    
  </head>

  <body>

    <% if false %> <!-- ORIGINAL BOOTSTRAP WAY -->
    <%= render 'layouts/header' %>
    <% end %>

    <!--<div class="container"> ORIGINAL BOOTSTRAP CONTAINER-->
    <div data-role="page"> 
      <%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %> <!-- Notice how current layout puts this within body. Maybe pull it out? -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>

</html>